[core]
  excludesFile = ~/.config/git/ignore
  attributesFile = ~/.config/git/attributes
  hooksPath = ~/.config/git/hooks
[credential]
  helper = libsecret
[merge]
  tool = vimdiff
[mergetool]
  keepBackup = false
{{ if env "CODESPACES" -}}
[gpg]
  format = openpgp
{{- else -}}
[gpg "ssh"]
  allowedSignersFile = ~/.config/git/allowed-signers
[user]
  signingKey = ~/.ssh/agent-keys.pub
{{- end }}
