#!/usr/bin/env bash
# shellcheck disable=SC2139


# Shortcuts
if [[ $DISTRO == "macos" ]]; then
  alias dl="cd ~/Downloads"
  alias dt="cd ~/Desktop"
  alias repos="~/Code"
fi

if command -v git &> /dev/null; then
  alias g="git"
fi

# Use exa as ls and tree
if command -v exa &> /dev/null; then
  # There is no good way to check if the version of exa supports --icons so
  # assume macOS has it, everything else doesn't.
  if [[ $DISTRO == "macos" ]]; then
    alias ls="exa --classify --git --icons"
    alias tree="exa --tree --git --icons"
  elif [[ $DISTRO == "debian" ]]; then
    alias ls="exa --classify"
    alias tree="exa --tree"
  else
    alias ls="exa --classify --git"
    alias tree="exa --tree --git"
  fi

  alias la="ll"
  alias l="ls -1"
fi

# Use tldr as man
if command -v tldr &> /dev/null; then
  alias man="tldr"
fi

# Get week number
if command -v date &> /dev/null; then
  alias week='date +%V'
fi

# Shortcuts
if [[ $DISTRO == "macos" ]]; then

  alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --remote-debugging-port=9222"
fi

# IP addresses
if command -v dig &> /dev/null; then
  alias ip="dig TXT +short o-o.myaddr.l.google.com @ns1.google.com -4 && dig TXT +short o-o.myaddr.l.google.com @ns1.google.com -6"
fi
if [[ $DISTRO == "macos" ]]; then
  alias localip="ipconfig getifaddr en0"
  # Show active network interfaces
  alias ifactive="ifconfig | pcregrep --multiline --only-matching '^[^\t:]+:([^\n]|\n\t)*status: active'"
  # Flush Directory Service cache
  alias flush+"dscacheutil -flushcache && killall -HUP mDNSResponder"
fi

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# macOS has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# macOS has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# Trim new lines and copy to clipboard
if [[ -s "${HOME}/.iterm2_shell_integration.zsh" ]]; then
  if [ -z ${ITERM_PROFILE+x} ]; then
    alias c="tr --delete '\n' | it2copy"
  else
    alias c="tr --delete '\n' | pbcopy"
  fi
else
  alias c="tr --delete '\n' | pbcopy"
fi

# Recursively delete `.DS_Store` files
if command -v find &> /dev/null; then
  alias rmds="find . -type f -name '*.DS_Store' -ls -delete"
fi

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine.
if [[ $DISTRO == "macos" ]]; then
  alias emptytrash="sudo rm --recursive --force --verbose /Volumes/*/.Trashes; sudo rm --recursive --force --verbose ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"
fi

# URL-encode strings
if command -v python &> /dev/null; then
  alias urlencode='python -c "import sys, urllib, urllib.parse; print(urllib.parse.quote_plus(sys.argv[1]));"'
elif command -v python3 &> /dev/null; then
  alias urlencode='python3 -c "import sys, urllib, urllib.parse; print(urllib.quote_plus(sys.argv[1]));"'
fi

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# http://xkcd.com/530/
if [[ $DISTRO == "macos" ]]; then
  alias stfu="osascript -e 'set volume output muted true'"
  alias pumpitup="osascript -e 'set volume output volume 100'"
fi

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Fall back to diff if diff-so-fancy is not available
if ! command -v diff-so-fancy &> /dev/null; then
  alias diff-so-fancy="diff"
fi

# Use nvim as vim
if command -v nvim &> /dev/null; then
  alias vim="nvim"
  alias vi="nvim"
fi

# Convert svg to png on macOS
if command -v qlmanage &> /dev/null; then
  alias svg2png="qlmanage -t -s 1000 -o . $1"
fi

# Alias bat to batcat
if command -v batcat &> /dev/null; then
  alias bat="batcat"
fi
