#!/usr/bin/env bash

# Set the default editor.
if command -v nano &> /dev/null; then
  export EDITOR="nano"
elif command -v nvim &> /dev/null; then
  export EDITOR="nvim"
elif command -v vim &> /dev/null; then
  export EDITOR="vim"
elif command -v vi &> /dev/null; then
  export EDITOR="vi"
fi

if command -v node &> /dev/null; then
  # Enable persistent REPL history for `node`.
  export NODE_REPL_HISTORY=~/.node_history
  # Allow 32^3 entries; the default is 1000.
  export NODE_REPL_HISTORY_SIZE='32768'
  # Use sloppy mode by default, matching web browsers.
  export NODE_REPL_MODE='sloppy'
fi

if command -v python &> /dev/null || command -v python3 &> /dev/null || command -v python2 &> /dev/null; then
  # Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
  export PYTHONIOENCODING='UTF-8'
fi

# Prefer US English and use UTF-8.
export LC_CTYPE="en_US.UTF-8"
export LC_ALL='en_US.UTF-8'

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less --no-init';

if command -v brew &> /dev/null; then
  # Avoid issues with `gpg` as installed via Homebrew.
  # https://stackoverflow.com/a/42265848/96656
  GPG_TTY=$(tty)
  export GPG_TTY

  export HOMEBREW_NO_ENV_HINTS=1
  export HOMEBREW_NO_INSECURE_REDIRECTS=1
fi

if command -v ssh &> /dev/null; then
  if [[ -s "${HOME}/.ssh/id_ed25519" ]]; then
    export SSH_KEY_PATH="$HOME/.ssh/id_ed25519";
  fi
fi

if command -v bat &> /dev/null; then
  export BAT_THEME="Solarized (light)"
fi

if command -v docker-compose &> /dev/null; then
  export COMPOSE_HTTP_TIMEOUT=3600
fi

# Workaround for Ansible issue with network lookup
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

# Allow gcloud cli to use site-packages
export CLOUDSDK_PYTHON_SITEPACKAGES=1

# Allow 1Password biometric unlock
export OP_BIOMETRIC_UNLOCK_ENABLED=true
