{{- $fromEnv := env (index . 0) -}}
{{- if and (not $fromEnv) (eq (index . 0) "GITHUB_PERSONAL_ACCESS_TOKEN") -}}{{ $fromEnv = env "GITHUB_TOKEN" }}{{- end -}}
{{- if $fromEnv -}}{{ $fromEnv -}}
{{- else if lookPath "op" -}}{{ onepasswordRead (index . 1) (index . 2) -}}
{{- end -}}
