# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: dotfiles

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up bun
        uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2.0.2

      - name: Set up Biome CLI
        uses: biomejs/setup-biome@454fa0d884737805f48d7dc236c1761a0ac3cc13 # v2.6.0

      - name: Set up ruff
        uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1 # v3.5.1

      - name: Set up uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2

      - name: Lint and format check with Biome
        run: biome ci

      - name: Lint and format check Markdown
        uses: DavidAnson/markdownlint-cli2-action@30a0e04f1870d58f8d717450cc6134995f993c63 # v21.0.0
        with:
          globs: |
            **/.github/PULL_REQUEST_TEMPLATE
            **/*.md

      - name: Format check ini
        run: |
          bun install --global \
            prettier \
            prettier-plugin-ini
          prettier --check --parser ini \
            --plugin=$HOME/.bun/install/global/node_modules/prettier-plugin-ini/src/plugin.js \
            **/wgetrc

      - name: Lint Python
        run: |
          shopt -s globstar nullglob
          uvx basedpyright **/*.py **/XDG_BIN_HOME/gn **/pythonrc
          ruff check **/*.py **/XDG_BIN_HOME/gn **/pythonrc
          ruff format --check **/*.py **/XDG_BIN_HOME/gn **/pythonrc

      - name: Lint and format check TOML
        run: |
          shopt -s globstar nullglob
          bunx @taplo/cli format --check **/*.toml
          bunx @taplo/cli lint **/*.toml

      - name: Lint and format check Shell Script
        run: |
          shopt -s globstar nullglob

          sudo apt-get update && \
          sudo apt-get install --no-install-recommends -y \
            shfmt

          find XDG_BIN_HOME -type f -name "*" \
            ! -name "git-whodoneit" \
            ! -name "gn" \
            ! -name "gn.py" \
            -exec shellcheck --shell=bash {} + && \
            shellcheck --shell=bash \
            ZDOTDIR/.* \
            **/*.sh
          find XDG_BIN_HOME -type f -name "*" \
            ! -name "git-whodoneit" \
            ! -name "gn" \
            ! -name "gn.py" \
            -exec shfmt --diff --indent 2 --case-indent --binary-next-line {} + && \
            shfmt --diff --indent 2 --case-indent --binary-next-line \
            ZDOTDIR/.* \
            **/*.sh

      - name: Format check yaml
        run: |
          bunx prettier --check \
            "**/*.{yml,yaml}"
